
<div class="container">
    <h1>Student Form</h1>
    <form #stdForm="ngForm" (ngSubmit)="onSubmit(stdForm)">
        {{showData()}}
        <div class="form-group">
            <label> Student Name: </label>
            <input type="text" name="name" value="" class="form-control" #std_name="ngModel" [(ngModel)]="student.name" required maxlength="40" minlength="2" pattern="[a-zA-Z ]*" />
            <div *ngIf="std_name.invalid">
                <div class="alert">Error: Student name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label> Email: </label>
            <input type="text" name="email" value="" class="form-control" #email [(ngModel)]="student.email" email />
        </div>

        <div ngModelGroup="address">    
            <div class="form-group">
                <label> Student street: </label>
                <input type="text" name="street" value="" class="form-control" #street [(ngModel)]="student.street" />
            </div>
            <div class="form-group">
                <label> Student City: </label>
                <select name="city" class="form-control" [(ngModel)]="student.city">
                    <option value="">Select your city</option>
                    <option *ngFor="let c of citys" [value]="c">{{c}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <input class="btn btn-default" type="submit" name="button" value="Update" [disabled]="!stdForm.form.valid" />
        </div>
    </form>
    {{email.name}} {{email.value}}
    
    <p>template values are: {{stdForm.value | json}}</p>
    
    <p>submitted values are: {{student_submitted | json}}</p>   
    <br/>
    <p>is this form valid: {{stdForm.form.valid}}</p>

    <input type="text" name="name" value="" class="form-control" [(ngModel)]="student.name" />
    <input type="text" name="name" value="" class="form-control" [ngModel]="student.name" (ngModelChange)="student.name = $event" />

</div>
